<!-- marketing -->
<div id="marketing">

<%= render "pages/marketing" %>
</div>
<!-- fecha marketing -->
<div id="page">
<div class="5grid-layout">
<div class="row">
<div class="6u">
<div class="mobileUI-main-content" id="content">
<section>
<div class="post">
<h2>Discografia Banda Xote7</h2>
<br>
<p>Música 01</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/108/xote7_01.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
<br>          

<a href='http://www.megamp3.com.br/play/108/xote7-01-mp3' target="_blank">Salve no computador</a>

<p>Música 02</p>

<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/109/xote7_2.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/109/xote7-2-mp3' target="_blank">Salve no computador</a> 

<p>Música 03</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/110/xote7_3.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
<br>
<a href='http://www.megamp3.com.br/play/110/xote7-3-mp3' target="_blank">Salve no computador</a>

<p>Música 04</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/111/xote7_4.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/111/xote7-4-mp3' target= "_blank">Salve no computador</a>
<p>Música 05</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/112/xote7_5.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>

<a href='http://www.megamp3.com.br/play/112/xote7-5-mp3' target="_blank">Salve no computador</a>
<p>Música 06</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/113/xote7_6.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/113/xote7-6-mp3' target="_blank">Salve no computador</a>
<p>Música 07</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/114/xote7_7.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/114/xote7-7-mp3'  target="_blank">Salve no computador</a>
<p>Música 08</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/115/xote7_8.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
<br>
<a href='http://www.megamp3.com.br/play/115/xote7-8-mp3' target="_blank">Salve no computador</a>
<p>Música 09</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/116/xote7_9.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/116/xote7-9-mp3' target="_blank">Salve no computador</a>
<p>Música 10</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/117/xote7_10.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/117/xote7-10-mp3' target="_blank">Salve no computador</a>

<p>Música 11</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/118/xote7_11.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/118/xote7-11-mp3' target="_blank">Salve no computador</a>
<p>Música 12</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/119/xote7_12.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/119/xote7-12-mp3' target="_blank">Salve no computador</a>
<p>Música 13</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/120/xote7_13.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/120/xote7-13-mp3' target="_blank">Salve no computador</a>
<p>Música 14</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/121/xote7_14.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/121/xote7-14-mp3'  target="_blank">Salve no computador</a>
</audio>
<p>Música 15</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/122/xote7_15.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/122/xote7-15-mp3'  target="_blank">Salve no computador</a>
<p>Música 16</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/123/xote7_16.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/123/xote7-16-mp3' target="_blank">Salve no computador</a>
<p>Mísica 17</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/124/xote7_17.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/124/xote7-17-mp3' target="_blank">Salve no computador</a>
<p>Mísica 18</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/125/xote7_18.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/125/xote7-18-mp3' target="_blank">Salve no computador</a>
<p>Mísica 19</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/126/xote7_19.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/126/xote7-19-mp3' target="_blank">Salve no computador</a>
<p>Mísica 20</p>
<embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/127/xote7_20.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" /><br>
<a href='http://www.megamp3.com.br/play/127/xote7-20-mp3'  target="_blank">Salve no computador</a>



<p class="button-style2"><%= link_to pages_path do %>

Voltar
<% end %>
</p>
</div>



</section>
</div>
</div>
<div class="3u" id="sidebar1">
<%= render "pages/sidebar" %>
</div>
<div class="3u">
<div id="sidebar2">
<%= render "musicas/sidebar3" %>
</div>
</div>
</div>
</div>
</div>