 <!-- marketing -->
  <div id="marketing">
   
   <%= render "pages/marketing" %>
  </div>
  <!-- fecha marketing -->
  <div id="page">
    <div class="5grid-layout">
      <div class="row">
        <div class="6u">
          <div class="mobileUI-main-content" id="content">
            <section>
              <div class="post">
                <h2>Discografia Banda Xote7</h2>
                <br>
              
 <p>Música 01</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 02</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 03</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 04</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 05</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 05</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 07</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 08</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>

 <p>Música 09</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
 <p>Música 10</p>
      <audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >		
       
</audio>
               
              <p class="button-style2"><%= link_to pages_path do %>

  Voltar
 <% end %>
</p>
              </div>

              <script>
$('audio').mediaelementplayer();
</script>

            </section>
          </div>
        </div>
        <div class="3u" id="sidebar1">
         <%= render "pages/sidebar" %>
        </div>
        <div class="3u">
          <div id="sidebar2">
            <%= render "musicas/sidebar3" %>
          </div>
        </div>
      </div>
    </div>
  </div>