 <div class="5grid-layout">
      <div class="row divider">
        <div class="3u">
          <section>
            <h2 class="title">Patrocinador</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
            <p><a href="#"><%= image_tag "pics05.jpg", :size =>"300x175" %></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Patrocinador</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
            <p><a href="#"><%= image_tag "pics05.jpg", :size =>"300x175" %></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Patrocinador</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
            <p><a href="#"><%= image_tag "pics05.jpg", :size =>"300x175" %></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Patrocinador</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
            <p><a href="#"><%= image_tag "pics05.jpg", :size =>"300x175" %></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
       
       
      
      </div>
    </div>