 <div class="5grid-layout">
      <div class="row divider">
        <div class="3u">
          <section>
            <h2 class="title"> 1 Maecenas luctus lectus</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue mattis maecenas ligula.</p>
            <p><a href="#"><%= image_tag "pics13.jpg" %></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Etiam posuere augue</h2>
            <p class="subtitle">Donec leo. Vivamus nibh in augue. Praesent a lacus at urna congue rutrum.</p>
            <p><a href="#"><img src="images/pics14.jpg" alt=""></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Fusce ultrices fringilla</h2>
            <p class="subtitle">Pellentesque pede. Donec pulvinar metus. In eu lectus pulvinar mollis. </p>
            <p><a href="#"><img src="images/pics15.jpg" alt=""></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
        <div class="3u">
          <section>
            <h2 class="title">Nulla luctus eleifend</h2>
            <p class="subtitle">In posuere eleifend odio. Quisque semper augue sed maecenas ligula.</p>
            <p><a href="#"><img src="images/pics16.jpg" alt=""></a></p>
            <p class="button-style2"><a href="#">More Details</a></p>
          </section>
        </div>
      </div>
    </div>