 <section>
            <h2>Mundo Musical</h2>
            <ul class="style2">
              <li class="first">
                <p><a href="#"><%= image_tag "pics05.jpg" %>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. </a></p>
              </li>
              <li>
                <p><a href="#"><%= image_tag "pics05.jpg" %>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. </a></p>
              </li>
             
            </ul>
          </section>