<section>
<div class="sbox1">
<h2>Músicas </h2>


<ul class="style1">
<li class="first">
<p>Música 01</p>
<audio id="player2" src="../audios/01.mp3" type="audio/mp3" controls="controls" width="290" >
</audio>

</li> 
<li>
<p>Música 02</p>
<audio id="player2" src="../audios/02.mp3" type="audio/mp3" controls="controls" width="290">
</audio>
</li>  
<li>
<p>Música 03</p>
<audio id="player2" src="../audios/03.mp3" type="audio/mp3" controls="controls" width="290">		
</audio>
</li>     
</ul>
</div>
</section>
<section>
<div class="sbox2">
<h2>Agenda de Shows</h2>

	<% if @post_agenda.present? %>
		<ul class="style1">
		<% @post_agenda.posts.limit(10).each do |g| %>


		<li class="first">


		<%= link_to agenda_path(g), :title => "Veja agenda completa" do %>
		<%= g.titulo %>
		<% end %>
		</li>

		<% end %>
		</ul>
	<% end %>

</div>
</section>
<script>
$('audio').mediaelementplayer();
</script>
