<section>
<div class="sbox1">
<h2>Músicas </h2>


<ul class="style1">
<li class="first">
<%= link_to musicas_path do %>
	Música 01
	<% end %><br>
            <embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/108/xote7_01.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
        
              

</li> 
<li>
 <p>Música 02</p>

    <embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/109/xote7_2.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
</li>  
<li>
<p>Música 03</p>
     <embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/110/xote7_3.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
</li>   
<li>
<p>Música 04</p>
     <embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/111/xote7_4.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
</li>   
<li>
<p>Música 05</p>
     <embed allowScriptAccess="always" src="http://www.megamp3.com.br/player.swf?backcolor=0x000000&frontcolor=0xFFFFFF&lightcolor=0xFFFFFF" flashvars="file=http://www.megamp3.com.br/adata/112/xote7_5.mp3" border="0" width="300" height="20" style="margin-bottom: 6px;" />
</li>     
</ul>
</div>
</section>
<section>
<div class="sbox2">
<h2>Agenda de Shows</h2>

	<% if @post_agenda.present? %>
		<ul class="style1">
		<% @post_agenda.posts.limit(10).each do |g| %>


		<li class="first">


		<%= link_to agenda_path(g), :title => "Veja agenda completa" do %>
		<%= g.titulo %>
		<% end %>
		</li>

		<% end %>
		</ul>
	<% end %>

</div>
</section>
<script>
$('audio').mediaelementplayer();
</script>
