<div class="row">
			<div class="12u">
				<section class="content">
					
           
            <div id="slider" class="nivoSlider">  
            <% @gallery_eventos.galleries.each do |evento| %>

            <%= image_tag(evento.avatar.url(:small)) %>
                 
              

            <% end %>             
               
             
              
            </div>
          
      


				</section>
			</div>
		</div>