<div class="row">
			<div class="12u">
				<section class="content">
					
           
            <div id="slider" class="nivoSlider">               
               
                <%= image_tag "walle.jpg" %>
                <%= image_tag "nemo.jpg" %>
                 <%= image_tag "toystory.jpg" %>
                   <%= image_tag "up.jpg" %>
            </div>
          
      


				</section>
			</div>
		</div>