 <!-- marketing -->
  <div id="marketing">
   
   <%= render "pages/marketing" %>
  </div>
  <!-- fecha marketing -->
  <div id="page">
    <div class="5grid-layout">
      <div class="row">
        <div class="6u">
          <div class="mobileUI-main-content" id="content">
            <section>
              <div class="post">
                <h2>Ultimas novidades</h2>
                <p class="subtitle">Augue praesent a lacus at urna congue rutrum</p>
                <p><a href="#"><%= image_tag "pics03.jpg" %></a><br>
                  Welcome to <strong>Ex Machina</strong>, a free responsive HTML5 website template designed by 
                  <a href="http://html5templates.com/">HTML5Templates.com</a>. It features a modern business-oriented design, 
                  content-dense layout, and a neutral color scheme.  And like all of our templates, it is built on HTML5 and 
                  CSS3, has full responsive support for desktops, tablets, and mobile devices, and is 100% free to use 
                  personally or commercially under the <a href="http://html5templates.com/license/">Creative Commons license</a>. 
                  Be sure to check out our <a href="http://html5templates.com/">website</a> for more awesome free 
                  HTML5 templates and follow us on <a href="http://twitter.com/HTML5T">Twitter</a> for updates and new releases! Enjoy!</p>
                <p class="button-style2"><a href="#">Read Full Article</a></p>
              </div>
            </section>
          </div>
        </div>
        <div class="3u" id="sidebar1">
         <%= render "pages/sidebar" %>
        </div>
        <div class="3u">
          <div id="sidebar2">
            <%= render "pages/sidebar2" %>
          </div>
        </div>
      </div>
    </div>
  </div>