 <!-- marketing -->
  <div id="marketing">
   
   <%= render "pages/marketing" %>
  </div>
  <!-- fecha marketing -->
  <div id="page">
    <div class="5grid-layout">
      <div class="row">
        <div class="6u">
          <div class="mobileUI-main-content" id="content">
            <section>
              <div class="post">
                <h2> Agenda de Shows da Banda Xote 7</h2>
                <p class="subtitle">Confira nossa agenda para os próximos shows</p>
               
                <p class="button-style2"><a href="pages">Voltar</a></p>
              </div>
            </section>
          </div>
        </div>
        <div class="3u" id="sidebar1">
          <%= render "pages/sidebar" %>
        </div>
        <div class="3u">
          <div id="sidebar2">
           
             <%= render "pages/sidebar2" %>
          </div>
        </div>
      </div>
    </div>
  </div>