

	<div id="page">
		<div class="5grid-layout">
			<div class="row mobileUI-main-content" id="content">
				<div class="12u">
					<section>
						<div class="post">
							<h2>Biografia da Banda Xote7</h2>
							<p class="subtitle">Uma história de sucesso</p>
							
							<p>&nbsp;</p>
						
							
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>


