<!-- Box -->
				<div class="box">
					
					<!-- Box Head -->
					<div class="box-head">
						<h2>Menu de Opções</h2>
					</div>
					<!-- End Box Head-->
					
					<div class="box-content">
						<%= link_to new_admin_category_path, :class => 'add-button' do %>
                         <span>Adicionar categoria</span>
						<% end %>

						<div class="cl">&nbsp;</div>
						
						
						
						
					</div>
				</div>
				<!-- End Box -->