
/*
	Untitled: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
*/


/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0em;
	padding: 0em;
	background: #1EB0D7 url(fundopretoestrela.gif) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #B5B5B5;
}

h1, h2, h3 {
	margin: 0em;
	padding: 0em;
	color: #1B94BD;
}

h2 {
	padding: 0em 0em 1em 0em;
	letter-spacing: -.1em;
	text-transform: uppercase;
	font-size: 2em;
}
h3 {
	padding: 0em 0em 1em 0em;
	letter-spacing: -.1em;
	text-transform: uppercase;
	font-size: 1em;
	color:#87CEFF ;
}

p {
	line-height: 170%;
}

a {
	color: #E8E8E8;
}

a:hover {
	text-decoration: none;
	color: #1B94BD;
}

strong {
	font-weight: bold;
	color: #191919;
}

/* Copyright */

#copyright {
	overflow: hidden;
	padding: 3em 0em;
	text-align: center;
	border-top: solid 1px rgba(0,0,0,0.15);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.15);
}

#copyright p {
	text-shadow: 1px 1px 0px #1B94BD;
	color: #D6F8FF;
}

#copyright a {
	color: #D6F8FF;
}

#copyright a:hover {
	text-decoration: none;
}

#copyright section {
	padding: 0em 2em;
}

/* Main Wrapper */

#wrapper {
}

/* Page Wrapper */

#page-wrapper {
	overflow: hidden;
	margin-bottom: 1em;
	padding: 4em 0em 3em 0em;
	background: #000000;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
}

#page-wrapper a img {
	display: block;
	width: 100%;
	padding: 0em 0em 2em 0em;
}

/* Welcome */

#welcome {
	overflow: hidden;
	margin-bottom: 1em;
	padding: 1em 0em;
	background: #000000;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
}

#welcome .content {
}

/* Footer */

#footer {
	overflow: hidden;
	margin-bottom: 1em;
	padding: 1em 0em;
	background: #000000;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,.1);
}

/* Button style 1 */

.button-style1 {
	display: inline-block;
	margin: 2em 1em 1em 0em;
	padding: .5em 1em;
	background: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .80em;
	color: #FFFFFF;
}

/* List style 1 */

ul.style1 {
	margin: 0em;
	padding: 2em 0em 2em 0em;
	list-style: none;
}

ul.style1 li {
	float: left;
	width: 15%;
	padding: 0em 1em 2em 0em;
}

ul.style1 a img {
	display: block;
	width: 100%;
	padding: 0em 0em 1em 0em;
}

/* List style 2 */

ul.style2 {
	margin: 0em;
	padding: 0em 0em 0em 0em;
	list-style: none;
}


ul.style2 li {
	padding: 0em 0em 3em 0em;
}

ul.style2 .heading-title {
	font-weight: bold;
	color: #B5B5B5;
}

ul.style2 .date {
	display: inline-block;
	margin: 0em 1em 1em 0em;
	padding: .5em 1em;
	text-transform: uppercase;
	font-size: .80em;
	background: #000000;
	color: #FFFFFF;
}

ul.style2 a {
	text-decoration: none;
	color: #B5B5B5;
}

ul.style2 a:hover {
	text-decoration: nome;
	color: #1B94BD;
}

/* List style 3 */

ul.style3 {
	margin: 0em;
	padding: 0em 0em 0em 0em;
	list-style: none;
}

ul.style3 li {
	padding: 1em 0em;
	border-bottom: solid 1px rgba(0,0,0,0.15);
	
}

ul.style3 li:first-child {
	border-top: 0;
}

ul.style3 li:last-child {
	border-bottom: 0;
}

ul.style3 a {
	padding: 0em 0em 0em 1em;
	background: url(img04.png) no-repeat left 4px;
	text-decoration: none;
	
	color: #B5B5B5;
}

ul.style3 a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0em;
	background: none;
}


/* List style 4 */

ul.style4 {
	margin: 0em;
	padding: 0em 0em 0em 0em;
	list-style: none;
}

ul.style4 li {
	padding: 1.5em 0em 1.5em 0em;
	border-top: 1px solid #DCDCDC;
}

ul.style4 .date {
	padding: 0em 0em 1em 0em;
	font-weight: bold;
	font-style: italic;
}

ul.style4 .date a {
	color: #B5B5B5;
}

ul.style4 a {
	text-decoration: none;
	color: #E8E8E8;
}

ul.style4 a:hover {
	text-decoration: nome;
	color: #1B94BD;
}

ul.style4 .first {
	padding-top: 0em;
	border-top: none;
}

/* List style 5 */

ul.style5 {
	margin: 0em;
	padding: 0em 0em 0em 0em;
	list-style: none;
}

ul.style5 li {
	padding: 1em 0em 1em 0em;
	border-top: 1px solid #DCDCDC;
}

ul.style5 a {
	text-decoration: none;
	color: #B5B5B5;
}

ul.style5 a:hover {
	text-decoration: nome;
	color: #1B94BD;
}

ul.style5 .first {
	padding-top: 0em;
	border-top: none;
}





