
<!-- Main -->
<div id="main">
<div class="cl">&nbsp;</div>

<!-- Content -->
<div id="content">

<!-- Box -->
<div class="box">
<!-- Box Head -->
<div class="box-head">
<h2 class="left">Detalhes do usuário</h2>

</div>
<!-- End Box Head -->	

<!-- Table -->
<div class="table">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>

<th>Nome do usuário</th>
<th>E-mail</th>

<th width="40%" class="ac">Opções de controle</th>
</tr>
<tr>

<td><h3><%= @user.username %></h3></td>
<td><h3><%= @user.email %></h3></td>


<td>
<%= link_to 'Voltar', admin_users_path %>	
</td>
</tr>						

</table>




</div>
<!-- Table -->

</div>
<!-- End Box -->



</div>
<!-- End Content -->

<!-- Sidebar -->
<div id="sidebar">

<%= render :partial => 'menulateral' %>

</div>
<!-- End Sidebar -->

<div class="cl">&nbsp;</div>			
</div>
<!-- Main -->

