 <div class="5grid-layout">
    <div class="row divider">


      <% if @gallery_parceiros.present? %>
      <% @gallery_parceiros.galleries.limit(3).each do |g| %>
      <div class="4u">

        <section>
          <div class="box-style">

           <a href="#"><%= image_tag g.avatar.url(:medium) %></a>
            <h3><%= g.titulo %></h3>
            <p><%= g.body %></p>
          
            
          </div>
        </section>
      </div>

      <% end %>

      <% end %>
      
     
     
    
    </div>
  </div>


     <!--<p class="button-style2"><a href="#"></a></p>-->

    
