 <div class="5grid-layout">
    <div class="row divider">
      <div class="4u">
        <section>
          <div class="box-style"> <a href="#"><%= image_tag "pics05.jpg" %></a>
            <h3>Parceiros</h3>
            <p>Donec nonummy magna quis risus. Quisque eleifend. </p>
            <p class="button-style2"><a href="#">More</a></p>
          </div>
        </section>
      </div>
      <div class="4u">
        <section>
          <div class="box-style"> <a href="#"><img src="images/pics06.jpg" alt=""></a>
            <h3>Parceiros</h3>
            <p>Donec nonummy magna quis risus. Quisque eleifend. </p>
            <p class="button-style2"><a href="#">More</a></p>
          </div>
        </section>
      </div>
      <div class="4u">
        <section>
          <div class="box-style"> <a href="#"><img src="images/pics05.jpg" alt=""></a>
            <h3>Parceiros</h3>
            <p>Donec nonummy magna quis risus. Quisque eleifend. </p>
            <p class="button-style2"><a href="#">More</a></p>
          </div>
        </section>
      </div>
    </div>
  </div>