
  <div class="5grid-layout">
    <div class="row" id="footer-content">
      <div class="3u" id="box1">
        <section>
          <h2>Reflexão</h2>
          <div class="balloon">
            <blockquote>&ldquo;&nbsp;&nbsp;Donec leo, vivamus ullamcorper fermentum nibh in augue pulvinar ullamcorper metus praesent a lacus at urna congue ullamcorper  rutrum.&nbsp;&nbsp;&rdquo;<br>
              <br>
              <strong>&ndash;&nbsp;&nbsp;John Smith</strong></blockquote>
          </div>
          <div class="ballon-bgbtm">&nbsp;</div>
          <p></p>
        </section>
      </div>
      <div class="3u" id="box2">
        <section>
          <h2>Próximos Shows</h2>
          <ul class="style6">
            <li class="first">
              <h3>Mauris vulputate dolor sit amet</h3>
              <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
            </li>
            <li>
              <h3>Fusce ultrices fringilla metus</h3>
              <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
            </li>
            <li>
              <h3>Donec dictum metus in sapien</h3>
              <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
            </li>
          </ul>
        </section>
      </div>
      <div class="3u" id="box3">
        <section>
          <h2>Galera do Facebook</h2>
        
            <div class="fb-like-box" data-href="http://www.facebook.com/bandaxote7" data-width="292" data-show-faces="true" data-stream="false" data-header="true"></div>
          
             <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'pt-BR'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
         
         
         
        </section>
      </div>
      <div class="3u" id="box4">
        <section>
          <h2>Músicas MP3</h2>
          <p><strong>Aliquam erat volutpat. Pellentesque tristique ante ut risus. </strong></p>
          <p>&nbsp;</p>
          <p>Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. </p>
          <p>&nbsp;</p>
          <p>Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat.</p>
        </section>
      </div>
    </div>
  </div>