<div class="5grid-layout">
<div class="row">
<div class="4u" id="logo">
<h1>
<%= link_to root_path, :class =>"mobileUI-site-name" do %>
Banda Xote7
<%end %>
</h1>
<p>explosão de forro</p>
</div>
<div class="8u" id="menu">
<nav class="mobileUI-site-nav">
    <ul>
    <li class="current_page_item">
    <%= link_to root_path do %>
    Homepage
    <%end %>

    </li>
    <li>
     <%= link_to agendas_path do %>
    Agenda
    <%end %>
    </li>
     <li>
     <%= link_to contacts_path do %>
    Contatos
    <%end %>
    </li>
  
    </ul>
</nav>
</div>
</div>
</div>