<div class="row">
    <div id="banner" class="12u">
      <div class="container">      
     
      <div id="slides">
        <div class="slides_container">

          <% @gallery_show.galleries.limit(7).each do |g| %>

                <%= link_to pages_path do %>
                    <%= image_tag(g.avatar.url(:small)) %>
                 <% end %>

          <% end %>


         
         
        </div>
      
      </div>


      </div>
    </div>
  </div>

  